*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid rgba(255, 255, 255, 0.8);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: min(80%, 1200px);
  margin: 0 auto;
  position: relative;
}

/* Header Section */

.header {
  background-color: #2E323F;
  padding: 1rem 0;
}

.logo {
  height: 100%;
}

.logo img {
  margin: 0 auto;
}

.nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 320px;
  background-color: rgb(46, 50, 63);
  box-shadow: 0 0 10px 5px rgba(46, 50, 63, 0.5);
  visibility: hidden;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.nav-list {
  list-style-type: none;
  text-transform: uppercase;
  margin: 3rem 0;
  padding: 0;
  text-align: center;
}

.nav-item {
  padding: 1rem 0;
}

.nav-item:hover,
.hero-button:hover {
  opacity: 0.8;
}

.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.close-menu-button {
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(46, 50, 63);
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.close-menu-content {
  font-size: 1rem;
  user-select: none;
}

.open-menu-button {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.open-menu-content,
.open-menu-button::before,
.open-menu-button::after {
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 100%;
  background-color: #3B4050;
  border: none;
  user-select: none;
}

.open-menu-button::before {
  transform: translateY(-3px);
}

.open-menu-button::after {
  transform: translateY(3px);
}

.secondary-nav li:last-child .nav-link {
  background-color: #A59678;
  border-radius: 4rem;
  border: none;
  padding: 0.4rem 0.75rem;
}

.toggle-menu {
  visibility: visible;
  transform: scaleX(100%);
}

/* Section One */

.hero {
  background-color: #3B4050;
  padding: 1.6rem 0;
}

.hero-item {
  color: #FFFFFF;
}

.hero-header {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(1.4rem, 0.4545rem + 4.7273vw, 4rem);
  text-align: center;
  line-height: 1.1;
}

.hero-header span {
  color: #A59678;
}

.hero-text {
  font-size: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
}

.hero-button {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
  color: #FFFFFF;
  background-color: #A59678;
  border: none;
  border-radius: 4rem;
  padding: 0.2rem 0.65rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* Section Two */

.features {
  background: rgb(242, 242, 242);
  padding: 3rem 0;
}

.features-item {
  text-align: center;
}

.features-item h2 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1.375rem + 0.625vw, 1.875rem);
  font-weight: 700;
  color: #A59678;
}

.features-item p {
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
}

/* Section Three */

.breakdown {
  padding: 3rem 0;
}

.breakdown-item h2 {
  color: #A59678;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(1.375rem, 1.0833rem + 1.4583vw, 2.25rem);
}

.breakdown-item p {
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
}

.values-item {
  color: #FFFFFF;
  background: #3B4050;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.values-item h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.values-item p {
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  margin-bottom: 0;
}

/* Footer Section */

.footer {
  background: #3B4050;
  padding: 3rem 0;
}

.footer h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(1.375rem, 0.7841rem + 2.9545vw, 3rem);
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.footer-info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-info-list-item-link {
  text-decoration: none;
  color: #6F737F;
}

.footer-info-list-item-link:hover {
  opacity: 0.75;
}

.footer-info-columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-info-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-info-item p {
  margin: 0;
  color: #6F737F;
}

.footer-info-item h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.1591rem + 0.4545vw, 1.5rem);
  color: #A59678;
}

@media (min-width: 700px) {
  .nav {
    visibility: visible;
    transform: none;
    transition: none;
    position: static;
    min-height: auto;
    min-width: auto;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    gap: 2rem;
  }

  .open-menu-button,
  .close-menu-button {
    display: none;
    visibility: hidden;
  }

  .nav-list {
    display: flex;
    gap: 1rem;
    margin: 0;
  }

  .nav-item {
    padding: 0;
  }

  .flex-row {
    display: flex;
    justify-content: space-between;
  }

  .flex-row-gap {
    display: flex;
    gap: 4rem;
    padding-bottom: 3rem;
  }

  .flex-three-col-gap {
    display: flex;
    gap: 5rem;
  }

  .flex-three-col-gap-small {
    display: flex;
    gap: 1rem;
  }

  .hero {
    padding: 6rem 0;
  }

  .hero-header {
    text-align: left;
  }

  .hero-item {
    flex: 1;
  }

  .hero-text {
    align-self: flex-end;
  }

  .hero-text p {
    margin-top: 0;
  }

  .hero-button {
    padding: 0.4rem 1.2rem;
  }

  .values-item {
    margin-bottom: 0;
  }

  .img-container {
    aspect-ratio: 3 / 1;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .footer h2 {
    text-align: center;
  }

  .footer-info-columns {
    flex-direction: row;
  }

  .footer-info-columns .footer-info-item {
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .img-container {
    aspect-ratio: auto;
  }

  .flex-two-col-gap {
    display: flex;
    gap: clamp(4rem, -26rem + 48vw, 10rem);
  }

  article.breakdown-item {
    flex: 2;
  }

  div.breakdown-item {
    flex: 1;
  }

  .flex-three-col-gap-small {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .values-item h3 {
    font-size: 1.875rem;
  }

  .footer-info {
    flex-direction: row;
  }

  .footer-info .footer-info-item {
    flex: 1;
  }

  .footer-info-columns {
    justify-content: flex-end;
    gap: 4rem;
    flex: 2;
  }

  .footer h2 {
    margin-bottom: 3rem;
  }

  .footer-info-columns .footer-info-item {
    flex: none;
  }
}
